.movies-container {
  padding: 15px 0;
  color: fuchsia;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
}

.movie-list {
  padding: 10px;
}

.movie-item {
  width: 30%;
  margin: 10px;
  flex: 1 1 250px;
  position: relative;
  padding-bottom: 40px;
}

.images {
  max-width: auto;
  margin: auto;
}

.trash {
  position: absolute;
  bottom: 0;
}
