.movies-container {
  padding: 15px 0;
  color: fuchsia;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
}

.movie-list {
  padding: 10px;
}

.movie-item {
  width: 30%;
  margin: 10px;
  flex: 1 1 250px;
}

.images {
  max-width: 250px;
  /* object-fit: "cover"; */
  margin: auto;
}

.trash {
  /* align-self: flex-end; */
  margin: auto;
}
