.movies-container {
    padding: 15px;
    color: fuchsia;
    box-sizing: content-box;
}

.movie-list {
    padding: 10px 0;
}

.movie-item {
    width: 25%;
    text-align: center;
    margin: 10px;
    display: inline-block;
}